<!DOCTYPE html>
<html>
    <head>
        <title>Ping Pong Generator</title>
    </head>
    <body>
        <h3>Ping Pong Generator</h3>
        <form class="" action="/number" method="post">
            <label for="number-input">Please enter a number</label>
            <input type="number" name="number-input" value="15">
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
